<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.StructrualDefinitionMappingDao">
	<resultMap id="BaseResultMap" type="main.java.BEAN1.StructrualDefinitionMappingBean">
		<id column="uuid" property="uuid" jdbcType="INTEGER"/>
		<result column="definition_type" property="definitionType" jdbcType="VARCHAR"/>
		<result column="structrual_definition_name" property="structrualDefinitionName" jdbcType="VARCHAR"/>
		<result column="target_definition_name" property="targetDefinitionName" jdbcType="VARCHAR"/>
		<result column="create_ts" property="createTs" jdbcType="TIMESTAMP"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
		<result column="last_mod_ts" property="lastModTs" jdbcType="TIMESTAMP"/>
		<result column="last_mod_user" property="lastModUser" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
		uuid,definition_type,structrual_definition_name,target_definition_name,create_ts,create_user,last_mod_ts,last_mod_user
	</sql>
	<insert id="insertRecord" parameterType="main.java.BEAN1.StructrualDefinitionMappingBean">
		insert into structrual_definition_mapping(uuid,
			definition_type,
			structrual_definition_name,
			target_definition_name,
			create_ts,
			create_user,
			last_mod_ts,
			last_mod_user)
		values (#{uuid,jdbcType=INTEGER},
			#{definitionType,jdbcType=VARCHAR},
			#{structrualDefinitionName,jdbcType=VARCHAR},
			#{targetDefinitionName,jdbcType=VARCHAR},
			#{createTs,jdbcType=TIMESTAMP},
			#{createUser,jdbcType=VARCHAR},
			#{lastModTs,jdbcType=TIMESTAMP},
			#{lastModUser,jdbcType=VARCHAR})
 </insert>
	<insert id="insertSelective" parameterType="main.java.BEAN1.StructrualDefinitionMappingBean">
		insert into structrual_definition_mapping
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="uuid != null" >
				uuid,
			</if>
			<if test="definitionType != null" >
				definition_type,
			</if>
			<if test="structrualDefinitionName != null" >
				structrual_definition_name,
			</if>
			<if test="targetDefinitionName != null" >
				target_definition_name,
			</if>
			<if test="createTs != null" >
				create_ts,
			</if>
			<if test="createUser != null" >
				create_user,
			</if>
			<if test="lastModTs != null" >
				last_mod_ts,
			</if>
			<if test="lastModUser != null" >
				last_mod_user,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null" >
				#{uuid,jdbcType=INTEGER},
			</if>
			<if test="definitionType != null" >
				#{definitionType,jdbcType=VARCHAR},
			</if>
			<if test="structrualDefinitionName != null" >
				#{structrualDefinitionName,jdbcType=VARCHAR},
			</if>
			<if test="targetDefinitionName != null" >
				#{targetDefinitionName,jdbcType=VARCHAR},
			</if>
			<if test="createTs != null" >
				#{createTs,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null" >
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="lastModTs != null" >
				#{lastModTs,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModUser != null" >
				#{lastModUser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from structrual_definition_mapping where uuid= #{uuid,jdbcType=INTEGER}
	</delete>
	<update id="updateByIdSelective" parameterType="main.java.BEAN1.StructrualDefinitionMappingBean">
		update structrual_definition_mapping
		<set>
			<if test="definitionType != null" >
				definition_type=#{definitionType,jdbcType=VARCHAR},
			</if>
			<if test="structrualDefinitionName != null" >
				structrual_definition_name=#{structrualDefinitionName,jdbcType=VARCHAR},
			</if>
			<if test="targetDefinitionName != null" >
				target_definition_name=#{targetDefinitionName,jdbcType=VARCHAR},
			</if>
			<if test="createTs != null" >
				create_ts=#{createTs,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null" >
				create_user=#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="lastModTs != null" >
				last_mod_ts=#{lastModTs,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModUser != null" >
				last_mod_user=#{lastModUser,jdbcType=VARCHAR},
			</if>
		</set>
		where uuid= #{uuid,jdbcType=INTEGER}
	</update>
	<update id="updateById" parameterType="main.java.BEAN1.StructrualDefinitionMappingBean">
		update structrual_definition_mapping set
			definition_type=#{definitionType,jdbcType=VARCHAR},
			structrual_definition_name=#{structrualDefinitionName,jdbcType=VARCHAR},
			target_definition_name=#{targetDefinitionName,jdbcType=VARCHAR},
			create_ts=#{createTs,jdbcType=TIMESTAMP},
			create_user=#{createUser,jdbcType=VARCHAR},
			last_mod_ts=#{lastModTs,jdbcType=TIMESTAMP},
			last_mod_user=#{lastModUser,jdbcType=VARCHAR}
		where uuid= #{uuid,jdbcType=INTEGER}
	</update>
	<select id="countRecord" resultType="java.lang.Integer">
		select count(*) from structrual_definition_mapping
	</select>
	<select id="countSelective" parameterType="main.java.BEAN1.StructrualDefinitionMappingBean" resultType="java.lang.Integer">
		select count(*) from structrual_definition_mapping where 1=1
		<if test="uuid != null" >
			and uuid=#{uuid,jdbcType=INTEGER}
		</if>
		<if test="definitionType != null" >
			and definition_type=#{definitionType,jdbcType=VARCHAR}
		</if>
		<if test="structrualDefinitionName != null" >
			and structrual_definition_name=#{structrualDefinitionName,jdbcType=VARCHAR}
		</if>
		<if test="targetDefinitionName != null" >
			and target_definition_name=#{targetDefinitionName,jdbcType=VARCHAR}
		</if>
		<if test="createTs != null" >
			and create_ts=#{createTs,jdbcType=TIMESTAMP}
		</if>
		<if test="createUser != null" >
			and create_user=#{createUser,jdbcType=VARCHAR}
		</if>
		<if test="lastModTs != null" >
			and last_mod_ts=#{lastModTs,jdbcType=TIMESTAMP}
		</if>
		<if test="lastModUser != null" >
			and last_mod_user=#{lastModUser,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="maxId" resultType="java.lang.Integer">
		select max(uuid) from structrual_definition_mapping
	</select>
	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from structrual_definition_mapping
		where uuid= #{uuid,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select * from structrual_definition_mapping
	</select>
</mapper>